apiVersion: v1
kind: Service
metadata:
  name: churn-prediction-api
  namespace: mlflow
  labels:
    app: churn-prediction-api
spec:
  type: ClusterIP
  ports:
    - port: 8000
      targetPort: 8000
      protocol: TCP
      name: http
  selector:
    app: churn-prediction-api
---
apiVersion: v1
kind: Service
metadata:
  name: churn-prediction-api-external
  namespace: mlflow
  labels:
    app: churn-prediction-api
spec:
  type: NodePort
  ports:
    - port: 8000
      targetPort: 8000
      nodePort: 30800
      protocol: TCP
      name: http
  selector:
    app: churn-prediction-api

