# Airflow Persistent Volume Claims
---
# Logs PVC
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: airflow-logs-pvc
  namespace: airflow
  labels:
    app.kubernetes.io/name: airflow
    app.kubernetes.io/part-of: mlops-workshop
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
---
# DAGs PVC
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: airflow-dags-pvc
  namespace: airflow
  labels:
    app.kubernetes.io/name: airflow
    app.kubernetes.io/part-of: mlops-workshop
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi

